@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300|Fredericka+the+Great");

/* ENTER */

.index {
   color: white;
   background-image: url("../img/landing-page.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   margin: 18% 12% 18% 12%;
   h1 {
      font: lighter 28px "Open Sans" sans-serif;
      padding-bottom: 8px;
   }
   h2 {
      font: 55px "Fredericka the Great" serif;
      padding-bottom: 70px;
   }
   h3 {
     font: lighter 21px "Open Sans" sans-serif;
     width: 53px;
      a {
         text-decoration: none;
         padding: 9px 40px 9px 40px;
         background: #404756;
         opacity: 0.6;
         color: white;
      }
      a:hover{
         background: #404756;
         opacity: 1;
      }
      a:active {
         background: #eee;
         opacity: .2;
         color: black;
      }
   }
}

/* CATEGORIES */

.categories {
   width: 70%;
   margin-right: 15%;
   margin-left: 15%;
   h1 {
      height: 250px;
      border: 2px solid red;
      text-align: center;
      font: 38px "Open Sans" sans-serif;
      a {
         text-decoration: none;
         color: #ddd;
         position: relative;
         top: 110px;
      }
   }
}

h1 {
   background-color: pink;
}
